* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inconsolata&display=swap');

body {
    width: 100%;
    overflow-x: hidden;
}

.heroes {
    min-height: 50vh;
    min-width: 100vw;
    background: linear-gradient(0deg, rgba(165, 147, 147, 0.932), rgba(12, 3, 3, 0.932)),url(../img/ballpoint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.quote, .small-text, .write {
    font-family: 'Inconsolata';
}

 .welcome, .resource, .title, .blog, .name {
    font-family: 'Dancing Script',cursive;
}

.images {
    width: 100%;
    height: 100%;
}

.button {
    width: 20%;
    margin: auto;
    text-align: center;
}

.resources {
    background:  url(../img/inspired.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}